@function unfoldTransition($transition) {
  $property: all;
  $duration: $transition-duration;
  $easing: $transition-timing-function;
  $delay: $transition-delay;
  $defaultProperties: ($property, $duration, $easing, $delay);

  $unfoldedTransition: ();

  @for $i from 1 through length($defaultProperties) {
    $p: null;

    @if $i <= length($transition) {
      $p: nth($transition, $i);
    } @else {
      $p: nth($defaultProperties, $i);
    }
    $unfoldedTransition: append($unfoldedTransition, $p);
  }

  @return $unfoldedTransition;
}
